<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="css/global.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://d3js.org/d3.v7.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<table>
		<thead class="header">
			<tr>
				<th>Channel Name</th>
				<th>Occurences</th>
			</tr>
		</thead>
	</table>
</body>
</html>