<!DOCTYPE html>
<html>
<head>
	<title>Please upload a file</title>
	<link rel="stylesheet" type="text/css" href="css/global.css">
</head>
<body>
	<form action="/loadfile" method="POST" enctype="multipart/form-data">
		<label for="ythistory">Please upload a Spotify history file (MyData/StreamingHistory0.json)</label>
		<input type="file" name="spothistory">
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>